# Build and Release Folders
bin/
dist/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/
node_modules/

# Executables
*.swf
*.air
*.ipa
*.apk
.gitignore
.sublime-gulp.cache
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
